.css-1d2ql5t-MuiFormControl-root-MuiTextField-root{
    min-width: 100% !important;
}
.css-gj1fbr-MuiGrid-root{
    max-width: 0 !important;
    min-width: 49.65% !important;
}
.css-1wvnaxz-MuiTableCell-root.MuiTableCell-head{
    background-color: #18182F !important;
}